/* TODO : Number 0 */
.let_o>.col1>.row1{ background-position: -60px -20px; }
.let_o>.col1>.row2{ background-position: 0px -80px; }
.let_o>.col1>.row3{ background-position: 0px 0px; }
.let_o>.col1>.row4{ background-position: 0px 0px; }
.let_o>.col1>.row5{ background-position: -40px -20px; }

.let_o>.col2>.row1{ background-position: -80px -100px; }
.let_o>.col2>.row5{ background-position: -40px -100px; }

.let_o>.col3>.row1{ background-position: -80px -20px; }
.let_o>.col3>.row2{ background-position: -20px -80px; }
.let_o>.col3>.row3{ background-position: 0px 0px; }
.let_o>.col3>.row4{ background-position: 0px 0px; }
.let_o>.col3>.row5{ background-position: -20px -20px; }

/* TODO : Number 1 */
.let_1 > .col1 > .row1{ background-position: -60px -20px; }
.let_1 > .col2 > .row1{ background-position: -80px -100px; }
.let_1 > .col2 > .row2{ background-position: 0px 0px; }
.let_1 > .col2 > .row3{ background-position: 0px 0px; }
.let_1 > .col2 > .row4{ background-position: 0px 0px; }
.let_1 > .col2 > .row5{ background-position: -40px -100px; }

/* TODO : Number 2 */
.let_2 > .col1 > .row1{ background-position: -60px -20px; }
.let_2 > .col1 > .row3{ background-position: -60px -20px; }
.let_2 > .col1 > .row4{ background-position: 0px 0px; }
.let_2 > .col1 > .row5{ background-position: 0px 0px; }
.let_2 > .col2 > .row1{ background-position: -80px -100px; }
.let_2 > .col2 > .row3{ background-position: 0px 0px; }
.let_2 > .col2 > .row5{ background-position: -40px -100px; }
.let_2 > .col3 > .row1{ background-position: -80px -20px; }
.let_2 > .col3 > .row2{ background-position: -20px -80px; }
.let_2 > .col3 > .row3{ background-position: -20px -20px; }
.let_2 > .col3 > .row5{ background-position: 0px 0px; }

/* TODO : Number 3 */
.let3 > .col1 > .row1{ background-position: 0px 0px; }
.let3 > .col1 > .row3{ background-position: -60px 0px; }
.let3 > .col1 > .row5{ background-position: 0px 0px; }
.let3 > .col2 > .row1{ background-position: -80px -100px; }
.let3 > .col2 > .row3{ background-position: 0px 0px; }
.let3 > .col2 > .row5{ background-position: -40px -100px; }
.let3 > .col3 > .row1{ background-position: -80px -20px; }
.let3 > .col3 > .row2{ background-position: -20px -80px; }
.let3 > .col3 > .row3{ background-position: -80px -40px; }
.let3 > .col3 > .row4{ background-position: 0px 0px; }
.let3 > .col3 > .row5{ background-position: -20px -20px; }

/* TODO : Number 4 */
.let_4 > .col1 > .row3{ background-position: -60px -20px; }
.let_4 > .col1 > .row4{ background-position: 0px 0px; }
.let_4 > .col2 > .row2{ background-position: -60px -20px; }
.let_4 > .col2 > .row3{ background-position: -20px -20px; }
.let_4 > .col2 > .row4{ background-position: 0px 0px; }
.let_4 > .col3 > .row1{ background-position: -60px -20px; }
.let_4 > .col3 > .row2{ background-position: -20px -80px; }
.let_4 > .col3 > .row3{ background-position: 0px 0px; }
.let_4 > .col3 > .row4{ background-position: 0px 0px; }
.let_4 > .col3 > .row5{ background-position: 0px 0px; }

/* TODO : Number 5 */
.let_5 > .col1 > .row1{ background-position: 0px 0px; }
.let_5 > .col1 > .row2{ background-position: 0px -80px; }
.let_5 > .col1 > .row3{ background-position: 0px 0px; }
.let_5 > .col1 > .row5{ background-position: 0px 0px; }
.let_5 > .col2 > .row1{ background-position: -80px -100px; }
.let_5 > .col2 > .row3{ background-position: 0px 0px; }
.let_5 > .col2 > .row5{ background-position: -40px -100px; }
.let_5 > .col3 > .row1{ background-position: 0px 0px; }
.let_5 > .col3 > .row3{ background-position: -80px -20px; }
.let_5 > .col3 > .row4{ background-position: 0px 0px; }
.let_5 > .col3 > .row5{ background-position: -20px -20px; }

/* TODO : Number 6 */
.let_6 > .col1 > .row1{ background-position: -60px -20px; }
.let_6 > .col1 > .row2{ background-position: 0px -80px; }
.let_6 > .col1 > .row3{ background-position: 0px 0px; }
.let_6 > .col1 > .row4{ background-position: 0px 0px; }
.let_6 > .col1 > .row5{ background-position: -40px -20px; }
.let_6 > .col2 > .row1{ background-position: -80px -100px; }
.let_6 > .col2 > .row3{ background-position: 0px 0px; }
.let_6 > .col2 > .row5{ background-position: -40px -100px; }
.let_6 > .col3 > .row1{ background-position: -20px -20px; }
.let_6 > .col3 > .row3{ background-position: -80px -20px; }
.let_6 > .col3 > .row4{ background-position: 0px 0px; }
.let_6 > .col3 > .row5{ background-position: -20px -20px; }

/* TODO : Number 7 */
.let_7 > .col1 > .row1{ background-position: 0px 0px; }
.let_7 > .col2 > .row1{ background-position: -80px -100px; }
.let_7 > .col2 > .row3{ background-position: -60px -20px; }
.let_7 > .col2 > .row4{ background-position: 0px 0px; }
.let_7 > .col2 > .row5{ background-position: -40px -100px; }
.let_7 > .col3 > .row1{ background-position: 0px 0px; }
.let_7 > .col3 > .row2{ background-position: -20px -80px; }
.let_7 > .col3 > .row3{ background-position: -20px -20px; }

/* TODO : Number 8 */
.let_8 > .col1 > .row1{ background-position: -60px -20px; }
.let_8 > .col1 > .row2{ background-position: 0px -80px; }
.let_8 > .col1 > .row3{ background-position: -40px -40px; }
.let_8 > .col1 > .row4{ background-position: 0px 0px; }
.let_8 > .col1 > .row5{ background-position: -40px -20px; }
.let_8 > .col2 > .row1{ background-position: -80px -100px; }
.let_8 > .col2 > .row3{ background-position: 0px 0px; }
.let_8 > .col2 > .row5{ background-position: -40px -100px; }
.let_8 > .col3 > .row1{ background-position: -80px -20px; }
.let_8 > .col3 > .row2{ background-position: -20px -80px; }
.let_8 > .col3 > .row3{ background-position: -80px -40px; }
.let_8 > .col3 > .row4{ background-position: 0px 0px; }
.let_8 > .col3 > .row5{ background-position: -20px -20px; }

/* TODO : Number 9 */
.let_9 > .col1 > .row1{ background-position: -60px -20px; }
.let_9 > .col1 > .row2{ background-position: 0px -80px; }
.let_9 > .col1 > .row3{ background-position: -40px -20px; }
.let_9 > .col1 > .row5{ background-position: -60px -20px; }
.let_9 > .col2 > .row1{ background-position: -80px -100px; }
.let_9 > .col2 > .row3{ background-position: 0px 0px; }
.let_9 > .col2 > .row5{ background-position: -40px -100px; }
.let_9 > .col3 > .row1{ background-position: -80px -20px; }
.let_9 > .col3 > .row2{ background-position: -20px -80px; }
.let_9 > .col3 > .row3{ background-position: 0px 0px; }
.let_9 > .col3 > .row4{ background-position: 0px 0px; }
.let_9 > .col3 > .row5{ background-position: -20px -20px; }












