/* Setup Starting Sizes and positions */
.letter{display:block;overflow:hidden;text-indent:-9999px;height:100px;width:60px;float:left;background-color:#2e5d24;border:10px solid #000;}
.letter>span{display:block;width:20px;height:100px;float:left;}
.letter>span>span{display:block;overflow:hidden;text-indent:-9999px;font-size:100px;width:20px;height:20px;float:left;clear:both;background: transparent url(matrix-20_20.png) no-repeat scroll -100px 0px;}
.letter>.col1>.row2{ background-position: -100px -60px; }
.letter>.col3>.row2{ background-position: 0px -60px; }
.letter>.col2>.row1{ background-position: -100px -100px; }
.letter>.col2>.row5{ background-position: -60px -100px; }

/* All ON */
.all_on>.col1>.row1{ background-position: 0px 0px; }
.all_on>.col1>.row2{ background-position: 0px -80px; }
.all_on>.col1>.row3{ background-position: 0px 0px; }
.all_on>.col1>.row4{ background-position: 0px 0px; }
.all_on>.col1>.row5{ background-position: 0px 0px; }

.all_on>.col2>.row1{ background-position: -80px -100px; }
.all_on>.col2>.row2{ background-position: 0px 0px; }
.all_on>.col2>.row3{ background-position: 0px 0px; }
.all_on>.col2>.row4{ background-position: 0px 0px; }
.all_on>.col2>.row5{ background-position: -40px -100px; }

.all_on>.col3>.row1{ background-position: 0px 0px; }
.all_on>.col3>.row2{ background-position: -20px -80px; }
.all_on>.col3>.row3{ background-position: 0px 0px; }
.all_on>.col3>.row4{ background-position: 0px 0px; }
.all_on>.col3>.row5{ background-position: 0px 0px; }